body{
font-family:Arial;
 font-size:12px;
}

.navMenu {
 background-color: #dddddd;
 padding: 6px;
}
}

.navMenu_header {
 background-color: #336699;
 color: white;
 font-weight: bold;
 font-size: 12px;
 margin-bottom: 2px;
 padding: 3px;
 text-align: center;
}

.navMenu_element
{
 text-align: center;
 background-color: #f0f0f0;
 padding: 3px;
 margin-bottom: 1px;
}

.navMenu_element a {
 font-size: 11px;
 font-weight: bold;
 color: black
}